

html5lib1

matplotlib
matplotlib-inline

numpy

pandas
pandas-profiling=
plotly

seaborn


sklearn

streamlit
streamlit-multipage
streamlit-option-menu
streamlit-pandas-profiling



pandas 
matplotlib
seaborn 
sklearn.utils 
streamlit_option_menu 

plotly.express 
numpy 
plotly.figure_factory 
chart_studio.plotly 
plotly.offline 